<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	
	<section>
		<h4>This is from about page</h4>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem at error accusantium maiores consectetur cum eaque dolor consequuntur recusandae voluptas nobis sunt voluptatibus nihil inventore repellendus iure possimus sit veniam.</h4>
	</section>
	
</body>
</html>